body {
    background-color: #ffca63;
}

h1 {
    color: #c83626;
}

#newBurgerSubmit {
    background-color: blue;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

li {
    width: 200px;
    background-color: #e1e1e1;
}
ol {
    background-color: #e1e1e1;
}
ol.alreadyEaten {
    list-style: none;
}
ol.alreadyEaten button {
    visibility: hidden;
    
}

form {
    clear: both;
}
.devourIt {
    position: relative;
    left: 150px;
}
.burgerBox {
    
    padding-top: 2px;
    margin: 5px;
}
