body {
    background-color: #ffca63;
}

h1 {
    color: #c83626;
}

#newBurgerSubmit {
    background-color: blue;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

li {
    width: 200px;
    background-color: #e1e1e1;
    margin: 20px;
    padding: 20px;
    border: 2px solid grey;
}

ol.alreadyEaten {
    float: left;
    margin-left: 100px;
    padding-left: 30px;
}

ol.notDevoured {
    float: right;
    margin-right: 100px;
    padding-right: 30px;
}

ol.alreadyEaten button {
    visibility: hidden;   
}

ol.alreadyEaten li {
    margin-top: 0px;
    margin-bottom: 0px;
}

ol.notDevoured li {
    margin-top: 0px;
}

ol.notDevoured button {
    position: absolute;
    left: 550px;
    padding: 5px;
}

form {
    clear: both;
}

.burgerBox { 
    padding-top: 10px;
    margin: 15px;
}

.column {
    width: 50%;
    float: left;
}
